@font-face {
  font-family: 'Al Qalam Quran Majeed Web';
  src: url('./AlQalamQuranMajeedWeb-Regular.woff2') format('woff2'),
    url('./AlQalamQuranMajeedWeb-Regular.woff') format('woff'),
    url('./AlQalamQuranMajeedWeb-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}